@import "mixins";

.footer {
  background-color: #f8f8f8;
  padding-top: calc(var(--defalut-spacing) * 5);
  padding-bottom: calc(var(--defalut-spacing) * 2);

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .help {
      @include flex-center-vert-between;
      position: absolute;
      top: -260px;
      padding: var(--defalut-spacing);
      background-color: var(--color-white);
      box-shadow: rgb(219, 219, 219) 0px 28px 24px 6px;
      border-radius: 10px;
      margin: 0 auto;
      width: 95%;

      @media (max-width: 378px) {
        top: -300px;
      }

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
      }

      .subscribe__content {
        h3 {
          color: var(--color-text-dark-blue);
          font-weight: 500;
          font-size: 35.2px;

          @include tablet {
            font-size: 25px;
          }
        }

        p {
          color: var(--color-text-black);
          margin-top: var(--defalut-spacing);
          @include tablet {
            margin-top: 0.5rem;
            margin-bottom: calc(var(--defalut-spacing) / 2);
          }
        }
      }

      button {
        color: var(--color-white);
        background-color: var(--color-main-red);
        font-weight: 700;
        text-transform: capitalize;
        border-radius: 10px;
        padding: 1.5rem calc(var(--defalut-spacing) * 2.5);
        box-shadow: 0px 15px 20px 0px rgba(245, 56, 56, 0.35);

        @include mobile {
          padding: 0.75rem calc(var(--defalut-spacing) * 1.5);
        }
      }
    }
  }

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    -moz-column-gap: calc(var(--defalut-spacing) * 2);
    column-gap: calc(var(--defalut-spacing) * 2);

    @include tablet {
      grid-template-columns: repeat(3, auto);
      -moz-column-gap: var(--defalut-spacing);
      column-gap: var(--defalut-spacing);
    }

    @include tablet {
      grid-template-columns: repeat(2, auto);
    }

    .sideFooter {
      p {
        margin-top: var(--defalut-spacing);
        margin-bottom: calc(var(--defalut-spacing) * 1.5);
        color: var(--color-text-black);
        max-width: 340px;

        span {
          font-weight: 500;
        }
      }

      span {
        color: #afb5c0;
      }

      .social-icons {
        margin-bottom: 2rem;
        @include flex-center-vert;
        gap: 2rem;

        span {
          @include flex-center;
          width: 35px;
          height: 35px;
          cursor: pointer;
          border-radius: 50%;
          background-color: var(--color-white);
          box-shadow: 0 10px 30px -5px;
        }
      }
    }

    ul {
      li {
        color: var(--color-text-black);
        margin-bottom: 1.5rem;

        &:first-child {
          font-size: 19.2px;
          font-weight: 500;
          color: var(--color-text-dark-blue);
          margin-bottom: 2rem;
        }
      }
    }
  }
}
