@import "mixins";

.networks {
        background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
        
    &__image {
        margin-top: calc(var(--space) * 6);
        width: 100%;
    }

    &__brands {
        @include flex-center;
        flex-wrap: wrap;
        gap: calc(var(--space) * 2);
        padding-top: calc(var(--space) * 6);
        padding-bottom: calc(var(--space) * 6);

        img {
            width: 150px;
        }
    }
}