@import "mixins";

.prices {
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
  margin-bottom: calc(var(--defalut-spacing) * 3);

  font-weight: bold;

  .plans {
    margin-top: var(--defalut-spacing);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: calc(var(--defalut-spacing) * 2);
    column-gap: calc(var(--defalut-spacing) * 2);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @include mobile {
      grid-template-columns: auto;
      gap: 0.5rem;
    }

    &__top {
      text-align: center;
      h5 {
        margin-top: var(--defalut-spacing);
        color: var(--color-text-dark-blue);
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
    &__item {
      display: grid;
      grid-template-rows: auto 1fr auto;
      justify-content: center;
      cursor: pointer;
      background-color: var(--color-white);
      border: 0.1rem solid #dddddd;
      border-radius: 10px;
      padding-top: calc(var(--defalut-spacing) * 2);
      padding-bottom: var(--defalut-spacing);
      transition: var(--transition-timing);
      &:hover {
        border-color: var(--color-main-red);
      }
    }
    &__features {
      margin-top: calc(var(--defalut-spacing) * 1.5);
      margin-bottom: calc(var(--defalut-spacing) * 2);
      display: flex;
      flex-direction: column;
      gap: calc(var(--defalut-spacing) / 2);

      &-item span:first-child {
        color: var(--color-green);
        margin-right: calc(var(--defalut-spacing) / 2);
      }
      &-item span:last-child {
        color: var(--color-text-black);
        font-size: 0.9rem;
      }
    }
    &__bottom {
      text-align: center;
      span {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 1.6rem;

        span {
          font-weight: 400;
          display: inline-block;
        }
      }

      button {
        color: var(--color-main-red);
        border: 2px solid var(--color-main-red);
        font-weight: 700;
        text-transform: capitalize;
        border-radius: 50px;
        padding: calc(var(--defalut-spacing) / 2)
          calc(var(--defalut-spacing) * 2.5);
        transition: var(--transition-timing);
        &:hover {
          color: var(--color-white);
          background-color: var(--color-main-red);
          box-shadow: 0px 15px 20px 0px rgba(245, 56, 56, 0.35);
        }
      }
    }
  }
}
